<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>uploadServiceServlet</servlet-name>
		<servlet-class>com.siderakis.upload4gwt.server.UploadServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServiceServlet</servlet-name>
		<url-pattern>/upload4gwt/uploadService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Upload4gwt.html</welcome-file>
	</welcome-file-list>


	<!-- Servlets -->
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>com.siderakis.upload4gwt.server.AppengineUpload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/upload4gwt/upload</url-pattern>
	</servlet-mapping>

</web-app>
